.no-copy {
	/* Chrome all / Safari all */
	-webkit-user-select: none;
	/* Firefox all */
	-moz-user-select: none;
	/* IE 10+ */
	-ms-user-select: none;
	/* Likely future */
	user-select: none;
	cursor: default;
}

.load-data-wrapper,
.load-model-wrapper {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}
